-- ==========================================
-- ENUMS (For Data Integrity)
-- ==========================================
CREATE TYPE user_role AS ENUM ('Admin', 'Seller', 'Buyer');
CREATE TYPE order_status AS ENUM ('Pending', 'Paid', 'Shipped', 'Cancelled');
CREATE TYPE transaction_type AS ENUM ('Credit', 'Debit');
CREATE TYPE transaction_category AS ENUM ('Deposit', 'Purchase', 'Refund', 'Cashback', 'Withdrawal');

-- ==========================================
-- TABLES
-- ==========================================

-- 1. Users Table
CREATE TABLE users (
    id SERIAL PRIMARY KEY,
    email VARCHAR(255) UNIQUE NOT NULL,
    password_hash VARCHAR(255) NOT NULL,
    role user_role NOT NULL,
    is_active BOOLEAN DEFAULT TRUE, -- <--- Soft Delete flag for the User
    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP
);

-- 2. Wallets Table (1-to-1 relationship with Users)
CREATE TABLE wallets (
    user_id INT PRIMARY KEY REFERENCES users(id) ON DELETE CASCADE,
    real_balance DECIMAL(15, 2) NOT NULL DEFAULT 0.00 CHECK (real_balance >= 0),
    promo_balance DECIMAL(15, 2) NOT NULL DEFAULT 0.00 CHECK (promo_balance >= 0), -- <--- The Cashback Bucket
    updated_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP
);

-- 3. Products Table
CREATE TABLE products (
    id SERIAL PRIMARY KEY,
    seller_id INT NOT NULL REFERENCES users(id) ON DELETE CASCADE,
    name VARCHAR(255) NOT NULL,
    price DECIMAL(10, 2) NOT NULL CHECK (price >= 0),
    stock INT NOT NULL DEFAULT 0 CHECK (stock >= 0),
    is_hidden BOOLEAN DEFAULT FALSE, -- <--- The Soft Delete flag
    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
    updated_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP
);

-- 4. Orders Table
CREATE TABLE orders (
    id SERIAL PRIMARY KEY,
    buyer_id INT NOT NULL REFERENCES users(id) ON DELETE CASCADE,
    status order_status DEFAULT 'Pending',
    total_amount DECIMAL(15, 2) NOT NULL DEFAULT 0.00,
    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
    updated_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP
);

-- 5. Order Items Table (Many-to-Many bridge between Orders and Products)
CREATE TABLE order_items (
    id SERIAL PRIMARY KEY,
    order_id INT NOT NULL REFERENCES orders(id) ON DELETE CASCADE,
    product_id INT NOT NULL REFERENCES products(id) ON DELETE RESTRICT,
    quantity INT NOT NULL CHECK (quantity > 0),
    price_at_purchase DECIMAL(10, 2) NOT NULL, -- Records the price at the exact moment of sale
    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP
);

-- 6. Transactions Table
CREATE TABLE transactions (
    id SERIAL PRIMARY KEY,
    wallet_id INT NOT NULL REFERENCES wallets(user_id) ON DELETE CASCADE,
    amount DECIMAL(15, 2) NOT NULL CHECK (amount > 0),
    type transaction_type NOT NULL, -- Credit or Debit
    category transaction_category NOT NULL, -- <--- Tracks the nature of the funds
    reference_id VARCHAR(100) UNIQUE NOT NULL, -- Used for idempotency (e.g., 'ORDER_123_PAYMENT')
    description TEXT,
    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP
);

-- 7. Notifications Table
CREATE TABLE notifications (
    id SERIAL PRIMARY KEY,
    user_id INT NOT NULL REFERENCES users(id) ON DELETE CASCADE,
    message TEXT NOT NULL,
    is_read BOOLEAN DEFAULT FALSE,
    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP
);